body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #09172a, #000000);
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
}

.logo {
  max-width: 400px; /* Adjust the max-width as needed */
  margin-bottom: 1px;
}

.login-box {
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.login-box input {
  width: 75%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

.login-box button {
  width: 25%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-link {
  color: #3498db;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.signup-link:hover {
  text-decoration: underline;
}