.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  overflow: hidden;
}
.rectangle {
  position: absolute;
  width: 1920px;
  height: 1086px;
  top: -6px;
  left: 0;
  background: url(../assets/images/65a95cf7-e796-472a-91e4-151d9ac78085.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.auto-layer-row-b {
  position: relative;
  width: 1000px;
  height: 1033px;
  margin: -238px 0 0 460px;
  z-index: 13;
}
.draft {
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: 0;
  left: 0;
  background: url(../assets/images/d33062ec-5317-4ee9-9c4a-776ca5d8e262.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.login {
  position: absolute;
  height: 46px;
  top: 987px;
  left: 460px;
  font-family: Anaheim, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  z-index: 9;
}
.signup {
  display: inline-block;
  position: relative;
  height: 46px;
  margin: 60px 0 0 910px;
  font-family: Anaheim, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  z-index: 10;
}
.reset-password {
  display: inline-block;
  position: relative;
  height: 46px;
  margin: 47px 0 0 848px;
  font-family: Anaheim, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  text-align: left;
  z-index: 11;
}
.rectangle-1 {
  position: absolute;
  width: 184px;
  height: 72px;
  top: 736px;
  left: 868px;
  background: rgb(255, 255, 255);
  z-index: 7;
  border-radius: 33px;
  box-shadow: 7px 7px 4px 0 rgba(0, 0, 0, 0.25);
}
.rectangle-2 {
  position: absolute;
  width: 184px;
  height: 72px;
  top: 842px;
  left: 868px;
  background: rgb(255, 255, 255);
  z-index: 8;
  border-radius: 33px;
  box-shadow: 7px 7px 4px 0 rgba(0, 0, 0, 0.25);
}
