html {
    height: 100%;
    background-image: linear-gradient(#111418 25%, #000e21 100%);
    overflow: scroll;
    width: auto;
}

.homepage {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.homepage .homepage-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: auto;
}



.homepage .music-player-div {
    margin-left: auto;
}