.media-player{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  padding: 20px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.065);
}

.media-player .album-art{
  width: 250px;
  height: 250px;
  border-radius: 18%;
}

.media-player .media-controls{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: inherit;
  margin-top: 15px;
  width: 100%;
}

.media-player .button-play-pause {
  color: #a6a6a6;
  font-size: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}

.media-player .item-invisible {
  font-size: 25px;
  visibility: hidden;
  border: none;
  outline: none;
  margin-left: auto;
}

.media-player .button-loop {
  font-size: 25px;
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: auto;
}

.media-player .loop-toggle-active {
  color: #1d63b9;
}

.media-player .loop-toggle-disable {
  color: #a6a6a6;
}

div.timeline {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.media-player .timeline-slider{
  margin-top: 10px;
}

.media-player .time-display {
  font-family: 'Poppins', sans-serif;
  color: #a6a6a6;
  display: flex;
  flex-direction: row;
}

.media-player .time-current {
  margin-right: auto;
}

.media-player .time-total {
  margin-left: auto;
}

.media-player .media-info{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  padding-left: 5px;
}

.media-player .media-title{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #a6a6a6;
}

.media-player .media-artist{
  font-family: 'Poppins', sans-serif;
  margin-top: -5px;
  font-size: 15px;
  color: #a6a6a6;
}



