/* SearchResultCard.css */

.search-result-card {
    width: 250px;
    background-color: rgba(255, 255, 255, 0.065);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 16px;
    box-sizing: border-box;
  }
  
  .result-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #a6a6a6;
  }
  
  .result-description {
    font-size: 14px;
    color: #a6a6a6;
    margin-bottom: 16px;
  }
  
  .result-link {
    color: #a6a6a6;
    text-decoration: none;
    font-weight: bold;
    display: block;
  }

  .result-image img{
    border-radius: 8px;
    margin: auto;
    width: 220px;
    height: auto;  
  }

  